/* Глобальные стили */

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
il {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ------------------ */

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 40px;
  background-color: rgb(123, 223, 236);
}

nav {
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
}

.info {
  display: flex;
}

main {
  flex: 1;
  padding: 40px;
}

footer {
  padding: 30px;
  font-size: 28px;
  background-color: rgb(95, 171, 181);
}

.animals-container {
  display: flex;
  /* height: 600px; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  background-color: bisque;
}

.animal-card {
  width: 200px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.penguin-card {
  background-color: rgb(40, 84, 128);
  /* order: 6; */
}

.elephant-card {
  background-color: rgb(145, 145, 137);
  align-self: flex-start;
  /* order: 1; */
}

.elephant-card > h2 {
  font-size: 46px;
}

.butterfly-card {
  background-color: rgb(190, 78, 177);
  /* flex: 1; */
  /* order: -1; */
}

.giraffe-card {
  background-color: rgb(172, 120, 43);
  align-self: flex-end;
  /* order: 0; */
}