* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100%;
  font-size: 26px;
  background-color: antiquewhite;
}

#card-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 40px;
  background-color: rgb(114, 171, 171);
}

.title{
  color: rgb(40, 40, 81);
}