/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1c1c1c;
    color: #fff;
}

h1, h2, p {
    margin: 0 0 10px;
}

/* Стили для заголовка (header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

header h1 {
    font-size: 24px;
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Основной контент */
main {
    padding: 20px;
}

/* Стили для карточек */
.card {
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #333;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 20px;
}

/* Стили для нижнего колонтитула (footer) */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}
