* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: aquamarine;
}

header {
  width: 100%;
  padding: 30px;
  font-size: 30px;
  background-color: rgb(9, 86, 96);
}

main {
  padding: 20px;
}

.cards-wrapper {
  font-size: 46px;
  width: 50%;
  height: 700px;
  padding: 50px;
  margin: 40px 0 0 30px;
  background-color: rgb(110, 134, 179);
}

.card {
  width: 150px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
}

.card-approach {
  background-color: rgb(236, 224, 93);
  border: 2px solid rgb(89, 97, 14);
}

.card-team {
  background-color: rgb(211, 82, 205);
  border: 2px solid rgb(47, 6, 45);
}

.card-focus {
  background-color: rgb(183, 230, 159);
  border: 2px solid rgb(28, 67, 39);
}

.card-location {
  background-color: rgb(178, 129, 102);
  border: 2px solid rgb(97, 64, 20);
}
