* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100%;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: antiquewhite;
}

#pl-name {
  font-size: 20px;
}

#buttons-container {
  display: flex;
  align-items: flex;
  gap: 10px;
  padding: 10px 0;
}

#controls-container label{
    font-weight: bold;
}

#buttons-container button {
  flex-grow: 1;
  cursor: pointer;
  outline: none;
  border: none;
  height: 36px;
  border-radius: 18px;
  background-color: rgb(43, 43, 197);
  color: white;
  font-size: 15px;
}

#buttons-container button:hover {
  background-color: rgb(36, 36, 149);
}