/* Селектор по элементу */
p {
    color: blueviolet
}

/* Селектор по id */
#main-title {
    color: aqua;
}

/* Селектор по классу */
.main-description {
    font-size: 38px;
    color: brown;
}

.description {
    color: aquamarine;
}

span.description {
    font-size: 50px;
}

/* Селектор по атрибуту */
/* [href] {
    font-size: 40px;
} */

[href = '#main-title'] {
    font-size: 40px;
}

/* Универсальный селектор */

* {
    margin: 0;
}

/* Кофликт стилей */
h1 {
    color: red;
}